@model cardslanding.Models.Game

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-group">
    <label asp-for="Title" class="control-label"></label>
    <input asp-for="Title" class="form-control" />
    <span asp-validation-for="Title" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Slug" class="control-label"></label>
    <input asp-for="Slug" class="form-control" />
    <span asp-validation-for="Slug" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Description" class="control-label"></label>
    <input asp-for="Description" class="form-control" />
    <span asp-validation-for="Description" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="LongDescription" class="control-label"></label>
    <textarea asp-for="LongDescription" class="form-control" ></textarea>
    <span asp-validation-for="LongDescription" class="text-danger"></span>
</div>

<div class="form-group">
        @Html.LabelFor(model => model.ImageURL, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ImageURL, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Upload</label>
        <div class="col-md-10">
            <div id="uploaded" style="color:green;display:none;">
                <p>Upload Successful.</p>
                <img id="img" style="max-width:100px;" />
                <br /><br />
            </div>
            <input type="file" name="file" id="file" accept=".jpg,.jpeg,.gif,.png" />
            <i>Make sure you upload a JPG, JPEG, GIF or PNG.</i>
        </div>
    </div>

    <div class="form-group">
        <div class="checkbox">
            <label>
                <input asp-for="IsPublic" /> @Html.DisplayNameFor(model => model.IsPublic)
            </label>
        </div>
    </div>

    <input type="submit" value="Save" class="btn btn-default" />
</div>